<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MDE Modelo Detección Emociones Tweets| {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/styles.css"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/enlace.png"/>
    </head>
    
    <body>        
            <header>
                <p><h1>Prueba técnica</h1></p>
            </header>

            <section class="container">
                {% block content %}{% endblock %}
            </section>

            <footer>
                <p>&copy; 2022 - All rights reserved</p>
            </footer>        
    </body>
    
</html>